# Ignorer les dossiers node_modules dans le dossier racine
/node_modules/

# Ignorer les dossiers node_modules dans les sous-dossiers "client" et "server"
/client/node_modules/
/server/node_modules/

# Cypress
cypress/